.contact_container{
    height: 100vh;
    width: 95vw;
    background-color: #000000,
}

@media screen and (max-width: 767px) {
    .contact_container{
        width: 100vw;
        height: 95vh;
    }
}