/* Réinitialisation des styles */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #101010;
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start; /* Verrouille le scroll sur chaque section */
}

.section::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
}

.wrapper-inner {
  z-index: 2;
}

.section#banner {
  background-image: url("/images/banner.jpg"); /* Adapte avec ton chemin */
}
.section#profil {
  background-image: url("/images/profil.jpg");
}
.section#skills {
  background-image: url("/images/skills.jpg");
  background-color: #101010;
}
