.avis_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.WidgetBackground__ContentContainer-sc-1ho7q3r-1.jUKeJm, .QqUEG{
    max-width: 90vw !important;
}