header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 10vh;
    width: 100vw;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.658);
}
.title_banner{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    gap: 50px;
}

.desktop-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .mobile-menu {
    display: none; 
  }
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4; 
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input {
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -60px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 50;
  }
  
  #menuToggle span {
    display: flex;
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 100;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle input:checked ~ span {
    transform: rotate(45deg) translate(-3px, -1px);
    background: #ffffff; 
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: #000000; 
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    z-index: 10; 
    overflow: hidden; 
  }
  
  #menu.open {
    transform: translateY(0); 
  }
  
  body.menu-open {
    overflow: hidden; 
    height: 100vh;
  }
  
  #menu li {
    padding: 20px 0;
    list-style: none;
  }
  
  #menu li a {
    color: #ffffff;
    font-size: 24px; 
    text-decoration: none; 
  }

  .arrow_up{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 15px;
    right: 30px;
    padding: 5px;
    background-color: #ffffff36;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .desktop-nav{
        gap: 25px;
        height: 100%;
    }

    .logo-header{
        height: 150px;
        width: 150px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .desktop-nav {
      display: none;
    }
  
    .mobile-menu {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-around;
    }

    #menuToggle{
      position: absolute;
      right: 50px;
    }
  
    header {
      flex-direction: row-reverse;
      gap: 0;
      justify-content: space-evenly;
    }
    .logo-header{
      height: 50%;
      width: 80%;
    }

    .logo_link_header{
      z-index: 5;
      position: absolute;
      left: 30px;
    }
  }