.profil_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.profil_image{
    width: 100%;
}

.profil_photo{
    width: 30%;
    height: 100%;
    object-fit: cover;
    filter: brightness(85%);
    border-radius: 50%;
}

.profil_description{
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding:0 200px;
}

.profil_description .profil_image{
    display: flex;
    justify-content: center;
}

.profil_jobs_details{
    width: 80vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
    right: 0;
    height: 100vh;
}

.construction_svg_top , .construction_svg_bottom{
    width: 30%;
}

.profil_hobbies{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profil_hobbies_details{
    width: 50vw;
}
.construction_svg1{
    width: 50%;
    position: relative;
    top: 100px;
    left: -20%;
}

.construction_svg2{
    width: 30%;
    position: relative;
    right: -10%;
    bottom: 200px;
}

.details_profil_jobs{
    display: flex;
    flex-direction: column;
    gap: 50px
}

@media screen and (max-width: 767px) {
    .profil_container{
        padding: 10px;
        width: 100%;
        height: 90vh;
    }
    .profil_description{
        padding: 10px;
        width: 100%;
        height: 90vh;
        align-items: center;
        text-align: center;
    }
    .profil_photo{
        height: 100%;
        width: 50%;
    }

    .profil_jobs_details{
        padding: 10px;
        width: 100%;
        height: 90vh;
        align-items: center;
        text-align: center;
    }
    .profil_hobbies{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 90vh;
        align-items: center;
        text-align: center;
    }
    .profil_hobbies_details{
        width: 80vw;
    }
    .construction_svg2{
        right: -35%;
        bottom : 0
    }
    .construction_svg_top{
        position: relative;
        left: -50%;
    }
    .construction_svg_bottom{
        position: relative;
        left: 50%;
    }
}