.banner_right_container{
    height: 100%;
    position: fixed;
    left: 94vw;
    top: 0;
    z-index: 10;
    color: #ffffff;
    flex-direction: column;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-right-texte{
    font-size: 22px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 0;
    font-weight: 800;
    margin-top: 10vh;
}

.banner-right-texte {
    overflow: hidden;
  }
  
  .banner-right-texte span {
    display: inline-block;
    animation: scrollText 10s linear infinite;
  }
  
  
  @keyframes scrollText {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%); 
    }
  }

.banner_right_svg{
    width: 40px;
    filter: invert();
}

.banner_right_link{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width : 1023px) {
  .banner_right_container{
    left: 93vw;
  }
}

@media screen and (max-width: 767px) {
    .banner_right_container{
        height: 8vh;
        width: 100%;
        top: 92vh;
        left: 0;
    }
    @keyframes scrollText {
        0% {
          transform: translateX(-110%);
        }
        100% {
          transform: translateX(120%); 
        }
      }
    .banner-right-texte{
        writing-mode: horizontal-tb;
        text-orientation: sideways;
        font-size: 20px;
        margin-top: 0;
        animation: scrollText 10s linear infinite;
    }
    .banner_right_svg{
        width: 30px;
    }
    .banner_right_svg.code{
        display: none;
    }
    .banner_right_link{
        flex-direction: row;
        gap: 50px;
    }
}