.banner_container{
    height: 100vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.image_background{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(35%);
}

  .link_button{
    position: relative;
  }
  
  .button_profil{
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner_content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
  }
  
  .button_profil:hover{
    width: 250px;
    border: 3px solid #2ecc71;
    background: transparent;
    color: #2ecc71;
  }
  
  .button_profil:hover + .icon{
    border: 3px solid #2ecc71;
    right: -20%;
  }

  @media screen and (max-width: 767px) {
    .banner_container{
      text-align: center;
      height: 93vh;
      width: 100vw;
    }
    .banner_content{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
    }
    .image_background{
      width: 100vw;
      height: 100vh;
    }
    .button_profil{
      width: 250px;
    }
    .button_profil:hover{
      width: 200px;
    }
    .button_profil:hover + .icon {
      top: 5px;
      left: 185px;
    }
    .button_profil:hover{
      position: relative;
      left: -10%;
    }
  }