.skills_container {
    width: 95vw;
    height: 100vh;
    padding: 10vh 0 0 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.floating-logos-container {
    position: relative; 
    height: 35vh; 
    width: 95vw; 
    overflow: hidden; 
}

#floating-logo {
    position: relative; 
    width: 100px;
    height: 100px;
    will-change: transform; 
    border-radius: 50%;
}

.hard_skills{
    height: 45vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.soft_skills{
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 95vw;
    overflow: hidden;
}
.list_soft_skills{
    display: flex;
    height: 30vh;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
}

.details_list_soft_skills{
    border: 1px solid #ffffff54 ;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    height: 80%;
    text-align: center;
}

.details_list_soft_skills aside{
    position: relative;
    height: 0;
    width: 0;
}

.details_list_soft_skills img{
    width: 100px;
    height: 100px;
    position: absolute;
}

.details_list_soft_skills.conversation img , .details_list_soft_skills.schedule img{
    top: 40px;
    right: 50px;
}

.details_list_soft_skills.idea img, .details_list_soft_skills.chameleon img{
    top: 40px;
    left: 50px;
}

.details_list_soft_skills:hover img{
    width: 120px;
    height: 120px;
}

.details_list_soft_skills.conversation:hover img, .details_list_soft_skills.schedule:hover img{
    top: 25px;
    right: 30px;
}

.details_list_soft_skills.chameleon:hover img, .details_list_soft_skills.idea:hover img{
    top: 25px;
    left: 30px;
}

@media screen and (max-width: 767px) {
 #floating-logo{
    width: 50px;
    height: 50px;
 }
 .floating-logos-container{
    width: 100vw;
 }
 .hard_skills{
    width: 100vw;
    height: 40vh;
 }
 .soft_skills{
    width: 100vw;
    height: 35vh;
 }
 .skills_container{
    height: 78vh;
    width: 100vw;
    padding-top: 15vh;
    justify-content: space-evenly;
 }
 .details_list_soft_skills{
    width: 40%;
    height: 40%;
    text-align: center;
    font-size: 17px;
 }
 .list_soft_skills{
    flex-wrap: wrap;
 }
 .details_list_soft_skills img{
    width: 40px;
    height: 40px;
    position: absolute;
}

.details_list_soft_skills.conversation img , .details_list_soft_skills.schedule img{
    top: 5px;
    right: 40px;
}

.details_list_soft_skills.idea img, .details_list_soft_skills.chameleon img{
    top: 5px;
    left: 40px;
}

.details_list_soft_skills:hover img{
    width: 50px;
    height: 50px;
}

.details_list_soft_skills.conversation:hover img, .details_list_soft_skills.schedule:hover img{
    top: 0px;
    right: 30px;
}

.details_list_soft_skills.chameleon:hover img, .details_list_soft_skills.idea:hover img{
    top: 0px;
    left: 30px;
}

}